<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            height:300px ;
            width:300px;
        }
    </style>
</head>

<body>
    <form method="get">
        {% csrf_token  %}

        <input type="text" name="search">
        
        <input type="submit" >


    </form>     



    {% for lic in license %}

    <h1>{{lic.name}}</h1>
    <p>{{lic.license_number}}</p>
    <p>{{lic.dob}}</p>
    <p>{{lic.issue_date}}</p>
    <p>{{lic.expiry_date}}</p>
    <img src="{{lic.photo.url}}"/>
    <p>{{lic.father_name}}</p>
    <p>{{lic.blood_group}}</p>




    

    {% endfor %}
    
</body>
</html>

