<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   


            <form action="register" method="POST"  >
                {% csrf_token %}
                <h1>Register Form</h1>
                <input type="text" name="first_name" placeholder="first name"><br>
                <input type="text" name="last_name" placeholder="last name"><br>
                <input type="email" name="email" placeholder="email"><br>
                <input type="text" name="username" placeholder="username"><br>
                <input type="password" name="password1" placeholder="password"><br>
                <input type="password" name="password2" placeholder="confirm password"><br>
                <input type="submit">

                <a href="login"  >Login..</a>
            </form>

            <div>
                {% for message in messages %}
                <h4>{{message }}</h4>
                {% endfor %}    
            </div>

        
    </div>


    </body>
    

</html>